/*page d'accueil */


body {

    background-color : rgba(168, 170, 172, 0.432);
    font-family: 'Gill Sans';
    
}

  
.navigation {
    
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;

    text-transform: uppercase;
    text-align: center;
    color : #CFD2D6
    
}
    
header{
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(25, 103, 155);
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    text-align: left;
    top: 0;
    border-top:5px solid greenyellow; 
    width : 100%
    

}


/* page formulaire */


legend {
    text-transform : uppercase;
    display: inline-box;
    color: rgb(25, 103, 155)
}

fieldset{
    text-align : justify;
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:5px solid rgb(0, 1, 7);
}

label{
    display: inline-block;
}

input{
    display: inline-block;
}

.button{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(3, 92, 175);
    color: white;
    font-size: 20px;
    padding: 15px 20px;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(102, 102, 102, 0.61);
        
}
        
.button:hover{
    background-color: rgb(4, 175, 61)
}